<h2><%= "Welcome to the #{@neighborhood.name} page" %></h2>
<h3>Neighborhood facts:</h3>
<ul>
  <li><%= "Year founded: #{@neighborhood.year_founded}" %></li>
  <li><%= "Number of residents: #{@neighborhood.number_inhabitants}" %></li>
</ul>
<h3>Landmarks:</h3>
<ul>
<% @neighborhood.landmarks.each do |landmark| %>
  <li><a href="/landmarks/<%= landmark.id %>"><%= "#{landmark.name}" %></a></li>
<% end %>

</ul>
<h3>Residents:</h3>
<ul>
<% @neighborhood.users.each do |user| %>
  <li><a href="/users/<%= user.id %>"><%= "#{user.first_name} #{  user.last_name}" %></a></li>
<% end %>
</ul>